<p>exam works!</p>
<div class="examBox">
  <div class="examhead text-center"><h2>اختبار subject name</h2></div>
  <div class="quizBox">
    <strong><span class="text-danger">سؤال 1</span> . questions</strong>
    <div class="row mt-3">
      <div class="col-md-6 col-sm-12">
        <mat-radio-button name="" value="" color="warn"></mat-radio-button>
        <label>A. answer1</label>
      </div>

      <div class="col-md-6 col-sm-12">
        <mat-radio-button name="" value="" color="warn"></mat-radio-button>
        <label>B. answer2</label>
      </div>

      <div class="col-md-6 col-sm-12">
        <mat-radio-button name="" value="" color="warn"></mat-radio-button>
        <label>C. answer3</label>
      </div>

      <div class="col-md-6 col-sm-12">
        <mat-radio-button name="" value="" color="warn"></mat-radio-button>
        <label>D. answer4</label>
      </div>
    </div>
    <div class="text-start">
      <button mat-raised-button class="btn btn-danger">حذف</button>
    </div>
    <hr />
  </div>
  <div class="text-center">
    <span class="fs-4 text-success"> total</span>
    <button class="btn btn-success px-5 fs-5">النتيجة</button>
  </div>
</div>
